<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Créditos Choappeira</title>
        <style>
        
        </style>
    </head>
    <body>
        <div><h2>
            Pacotes de Crédito
        </h2></div>
        <br><br>
        <div>
         <h2>
             Compra Finalizada com Sucesso!
         </h2>
         <p>Verifique seu saldo!</p>
        </div>
    </body>
</html>